<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="DBCS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Connect;Integrated Security=SSPI; database=Db_Book" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="BookService.BookService" behaviorConfiguration="mexBehaviour">
				<endpoint address="BookService" binding="basicHttpBinding" contract="BookService.IBookService">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>